#logo {
	line-height: 60px;
	margin-left: 40px;
	display: inline-block;
	cursor: pointer;
	font-size: 30px;
	font-weight: bold;
	color: #00a7ff;
}

#logo:hover {
	color: #eef9ff;
}

#logo-s {
	color: #eef9ff;
	margin-left: 5px;
}

#logo:hover #logo-s {
	color: #00a7ff;
}

.sign {
	float: right;
	line-height: 60px;
	margin-right: 40px;
}

.sign a {
	color: #fff;
	font-weight: bold;
	text-decoration: none;
}

.act {
	border: 2px solid #fff;
	border-radius: 50px;
	padding: 6px 15px;
}

.sign a:hover {
	color: #00a7ff;
	border-color: #00a7ff;
}

.slider {
	position: relative;
	width: 100%;
	background: #2c3e50;
}

.myslide {
	height: 655px;
	display: none;
	overflow: hidden;
}

.dotsbox {
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	bottom: 20px;
	cursor: pointer;
}

.dot {
	display: inline-block;
	width: 15px;
	height: 15px;
	border: 3px solid #ffffffcc;
	border-radius: 50%;
	margin: 0 10px;
	cursor: pointer;
}

.active,
.dot:hover {
	border-color: #a07822;
}

.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

@-webkit-keyframes fade {
	from {
		opacity: 0.8
	}

	to {
		opacity: 1
	}
}

@keyframes fade {
	from {
		opacity: 0.8
	}

	to {
		opacity: 1
	}
}

.txt {
	position: absolute;
	color: #fff;
	line-height: 35px;
	top: 40%;
	left: 12%;
	-webkit-animation-name: posi;
	-webkit-animation-duration: 2s;
	animation-name: posi;
	animation-duration: 2s;
	z-index: 1;
	text-align: start;
	max-width: 400px;
}

@-webkit-keyframes posi {
	from {
		left: 25%;
	}

	to {
		left: 15%;
	}
}


@keyframes posi {
	from {
		left: 25%;
	}

	to {
		left: 12%;
	}
}

.txt h1 {
	color: #C4932C;
	font-size: 42px;
	margin-bottom: 20px;
	font-weight: 700;

}

.txt p {
	font-weight: bold;
	font-size: 16px;
	line-height: 110%;
	font-weight: 400;
	padding-left: 3px;
	width: 270px;
	color: #a3a2a2;
}

.slide-image {
	transform: scale(1.5, 1.5);
	-webkit-animation-name: zoomin;
	-webkit-animation-duration: 40s;
	animation-name: zoomin;
	animation-duration: 40s;
	flex-wrap: nowrap;
	object-fit: cover;
}

@-webkit-keyframes zoomin {
	from {
		transform: scale(1, 1);
	}

	to {
		transform: scale(1.5, 1.5);
	}
}


@keyframes zoomin {
	from {
		transform: scale(1, 1);
	}

	to {
		transform: scale(1.5, 1.5);
	}
}

@media screen and (max-width: 800px) {
	.myslide {
		height: 500px;
	}

	.txt {
		/* letter-spacing: 2px; */
		line-height: 10px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		-webkit-animation-name: posi2;
		-webkit-animation-duration: 2s;
		animation-name: posi2;
		animation-duration: 2s;
	}

	@-webkit-keyframes posi2 {
		from {
			top: 35%;
		}

		to {
			top: 50%;
		}
	}


	@keyframes posi2 {
		from {
			top: 35%;
		}

		to {
			top: 50%;
		}
	}

	.txt h1 {
		font-size: 35px;
	}

	.txt p {
		font-size: 13px;
	}

}

@media screen and (max-width: 520px) {
	.txt h1 {
		font-size: 25px;
		margin-bottom: 20px;
	}

	.txt p {
		width: 250px;
	}

}

.txt button {
	position: relative;
	display: inline-block;
	cursor: pointer;
	outline: none;
	border: 0;
	vertical-align: middle;
	text-decoration: none;
	background: transparent;
	padding: 0;
	font-size: inherit;
	font-family: inherit;
}

.txt button.learn-more {
	width: 12rem;
	height: auto;
}

.txt button.learn-more .circle {
	transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	position: relative;
	display: block;
	margin: 0;
	width: 3rem;
	height: 3rem;
	background: #9a7320;
	border-radius: 1.625rem;
	overflow: hidden;
}

.txt button.learn-more .circle .icon {
	transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	background: #fff;
}

.txt button.learn-more .circle .icon.arrow {
	left: 0.625rem;
	width: 1.125rem;
	height: 0.125rem;
	background: none;
}

button.learn-more .circle .icon.arrow::before {
	position: absolute;
	content: "";
	top: -0.29rem;
	right: 0.0625rem;
	width: 0.970rem;
	height: 0.625rem;
	border-top: 0.125rem solid #fff;
	border-right: 0.125rem solid #fff;
	transform: rotate(45deg);
}

button.learn-more .button-text {
	transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1) !important;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 0.75rem 0;
	margin: 0 0 0 1.85rem;
	color: #d5d4d4;
	font-weight: 700;
	line-height: 1.6;
	text-align: center;
	text-transform: uppercase;
	z-index: 1;
}

button.learn-more:hover .circle {
	width: 100%;
}

button.learn-more:hover .circle .icon.arrow {
	transform: translate(1rem, 0);
}

button.learn-more:hover .button-text {
	color: #fff;
}

.button-87 {
	padding: 12px 20px;
	text-align: center;
	text-transform: uppercase;
	transition: 0.5s;
	background-size: 200% auto;
	color: white;
	border-radius: 10px;
	display: block;
	border: 0px;
	font-weight: 700;
	box-shadow: 0px 0px 14px -7px #48f019;
	background-image: linear-gradient(45deg, #a07822 0%, #C4932C 51%, #a07822 100%);
	cursor: pointer;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

.button-87:hover {
	background-position: right center;
	color: #fff;
	text-decoration: none;
}

.button-87:active {
	transform: scale(0.95);
}

.protect-wallpaper {
	background-image: url(https://c4.wallpaperflare.com/wallpaper/250/842/500/swiss-luxury-watches-swiss-wrist-watches-luxury-analog-watch-maurice-lacroix-maurice-lacroix-aikon-automatic-chronograph-hd-wallpaper-preview.jpg);
	background-size: cover;
	object-fit: cover;
	border-left: 1px solid;
}