
.button-footer {
	position: relative;
	overflow: hidden;
	border-radius: 7px;
	color: white;
	display: inline-block;
	cursor: pointer;
	background-image: linear-gradient(to right, #C4932C, #a07822);
	user-select: none;
	transition: background-color 500ms ease-in-out;
}

.button-footer span:last-child {
	color: white;
	display: block;
	position: absolute;
	bottom: 0;
	transition: all 300ms cubic-bezier(0.48, 0, 0.12, 1);
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(225%);
	height: 12px;
	line-height: 13px;
}

.button-footer span:first-child {
	color: white;
	display: block;
	position: absolute;
	transition: all 300ms cubic-bezier(0.48, 0, 0.12, 1);
	opacity: 1;
	top: 20%;
	left: 31%;
	bottom: 26%;
	right: 13%;
	transform: translateY(-5%) translateX(-10%);
	color: white;
}

.button-footer:hover span:first-child {
	transform: translate(-200%, -5%) !important;
}

.button-footer:hover {
	background-image: linear-gradient(to right, #a07822, #C4932C);
}

.button-footer:hover span:last-child {
	transform: translate(-50%, -70%);
	opacity: 1;
	transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
}