@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

.register-button {
    border-radius: 10px;
    border: 1px solid #C4932C;
    background-color: #C4932C;
    color: #FFFFFF;
    /* font-size: 12px; */
    font-weight: bold;
    padding: 9px 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    margin: 20px 0;
}

.register-button:active {
    transform: scale(0.95);
}

.register-button:focus {
    outline: none;
}

.register-button.ghost {
    background-color: transparent;
    border-color: #FFFFFF;
}

.register-form {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* padding: 0 5px; */
    height: 100%;
    text-align: center;
}

.register-input {
    border: 1px solid rgb(214, 207, 207);
    padding: 5px 12px;
    margin: 8px 0;
    width: 100%;
    border-radius: 6px;
    outline-color: #edddbc;
}

.containers {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    /* max-width: 768px !important; */
    max-width: 100%;
    /* min-height: 480px; */
    /* height: 500px; */
}

.form-containers {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in-containers {
    left: 0;
    width: 50%;
    z-index: 2;
}

.containers.right-panel-active .sign-in-containers {
    transform: translateX(100%);
}

.sign-up-containers {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.containers.right-panel-active .sign-up-containers {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
}

@keyframes show {

    0%,
    49.99% {
        opacity: 0;
        z-index: 1;
    }

    50%,
    100% {
        opacity: 1;
        z-index: 5;
    }
}

.overlay-containers {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    /* z-index: 100; */
}

.containers.right-panel-active .overlay-containers {
    transform: translateX(-100%);
}

.overlay {
    background: #C4932C;
    background: -webkit-linear-gradient(to right, #C4932C, #a07822);
    background: linear-gradient(to right, #C4932C, #a07822);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #FFFFFF;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.containers.right-panel-active .overlay {
    transform: translateX(50%);
}

.overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-left {
    transform: translateX(-20%);
}

.containers.right-panel-active .overlay-left {
    transform: translateX(0);
}

.overlay-right {
    right: 0;
    transform: translateX(0);
}

.containers.right-panel-active .overlay-right {
    transform: translateX(20%);
}

.social-containers {
    margin: 10px 0;
}

.social-containers a {
    border: 1px solid #DDDDDD;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
}