.detail-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 550px;
    // padding: 50px 0px 10px 10px;
    height: auto;
    max-height: 80vh;
    overflow: auto;
    position: absolute;
    background: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    transition: all 0.3s;


    &:hover {
        box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .detail-nav {
        width: 100%;
        color: #727272;
        text-transform: uppercase;
        border-bottom: 2px solid #efefef;
        font-size: 12px;

        svg.heart {
            height: 24px;
            width: 24px;
            float: right;
            margin-top: -3px;
            transition: all 0.3s ease;
            cursor: pointer;

            &:hover {
                fill: red;
            }
        }

        svg.arrow {
            float: left;
            height: 15px;
            width: 15px;
            margin-right: 10px;
        }

    }

    .detail-photo {
        text-align: center;
        float: left;

        .detail-image {
            max-height: 240px;
        }
    }

    .detail-description {
        float: left;

        .detail-text {
            color: #515151;
            margin: 0;
            font-weight: 400;
        }

        .detail-text-2 {
            color: #515151;
            margin: 0;
            text-transform: uppercase;
            font-weight: 500;
        }

        .detail-text-4 {
            margin: 0;
            color: #727272;
            text-transform: uppercase;
            font-weight: 500;
            font-size: 12px
        }

        .detail-paragraph {
            font-size: 12px;
            // line-height: 20px;
            color: #727272;
            margin: 0;
        }

        .detail-button {
            outline: 0;
            padding: 7px 15px;
            text-transform: uppercase;
            transition: all 0.3s ease;
            font-weight: 500;
            border-radius: 5px;
            margin: 0 auto;
        }

    }

}

@media (min-width: 300px) {
    .detail-card {
        top: 330px;
    }
}

@media (min-width: 500px) {
    .detail-card {
        top: 360px;

    }
}

@media (min-width: 768px) {
    .detail-card {
        width: 70%;
    }
}

@media (min-width: 1024px) {
    .detail-card {
        width: 60%;
    }
}